.home {
  height: 100vh;
  overflow: hidden;
  background: black;
}
.heroHeaderContainer {
  transition: 1.7s cubic-bezier(0.72, 0.16, 0.4, 0.92);
}
.presentationContainer {
  transition: 1.7s cubic-bezier(0.72, 0.16, 0.4, 0.92);
}
.skillsContainer {
  transition: 1.7s cubic-bezier(0.72, 0.16, 0.4, 0.92);
}
